@model Sports.ViewModels.TestSubscriptionVM

@{
    ViewData["Title"] = "AddAthelete";
}

<h1>Athelete Creation</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewAthelete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TestID" value="@Model.TestID" />
            <div class="form-group">
                <select asp-for="AtheleteId"
                        class="form-control"
                        asp-items="@(new SelectList(ViewBag.ListOfAthletes,"AtheleteId", "Ranking"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Distance" class="control-label"></label>
                <input asp-for="Distance" class="form-control" />
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
